@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap");

@import "./variables";
@import "./breakpoints";
@import "./mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  max-width: 100vw !important;
  overflow-x: hidden;
}

body {
  max-width: 100vw !important;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Mulish", sans-serif;
  scroll-behavior: smooth;
}

.btn {
  padding: 1.2em 1.6em;
  border-radius: 34px;
  font-size: 0.9rem;
  border: none;
  outline: none;
  width: 200px;

  &-primary {
    background-color: $primary-color;
    color: white;
    font-weight: 600;
    border: 1px solid $primary-color;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: lighten($primary-color, 10%);
    }
  }

  &-outline-primary {
    background-color: transparent;
    color: $gray-color;
    font-weight: 600;
    border: 1px solid $primary-color;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: lighten($primary-color, 10%);
      color: white;
    }
  }
}

.heading {
  font-size: clamp(1.4rem, 6vw, 3rem);
  font-weight: 800;

  &-2 {
    font-size: clamp(1rem, 6vw, 2.1rem);
    font-weight: 800;
  }
}

.margin-top {
  margin-top: 5.5rem !important;

  @include breakpoint-down(sm) {
    margin-top: 3rem !important;
  }
}

.primary-container {
  @include breakpoint-down(xxl) {
    @include container;
  }

  @include breakpoint-up(xxl) {
    max-width: 1360px !important;
    margin: auto;
  }
}

.secondary-container {
  @include breakpoint-down(xxl) {
    @include container;
  }

  @include breakpoint-up(xxl) {
    max-width: 1360px !important;
    margin: auto;
  }

  @include breakpoint-up(extra-large) {
    max-width: 1700px !important;
    margin: auto;
  }
}
