@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;
@use "../../styles/utils/breakpoints" as *;

section {
  color: white;
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  position: relative;
  padding: 5rem 0rem;

  .up-btn {
    position: absolute;
    bottom: 2%;
    right: 2%;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: linear-gradient(120deg, $primary-color 30%, cyan);
    color: white;
    box-shadow: 0 0 4px silver;
  }

  li {
    list-style: none;
    opacity: 0.9;
    margin-bottom: 0.6rem;
  }

  h4 {
    font-size: 1.1rem;
    margin-bottom: 1.3rem;
  }

  .secondary-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .content {
    margin-bottom: 1.5rem;
    &:first-child {
      img {
        margin-bottom: 1rem;
      }
      p {
        line-height: 1.7rem;

        &:last-child {
          margin-top: 1rem;
        }
      }
    }
  }
}
