@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;
@use "../../styles/utils/breakpoints" as *;

section {
  color: white;
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);

  li {
    list-style: none;
    opacity: 0.9;
    margin-bottom: 0.6rem;
  }

  h4 {
    font-size: 1.1rem;
    margin-bottom: 1.3rem;
  }

  .secondary-container {
    padding: 5rem 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .content {
    margin-bottom: 1.5rem;
    &:first-child {
      img {
        margin-bottom: 1rem;
      }
      p {
        line-height: 1.7rem;

        &:last-child {
          margin-top: 1rem;
        }
      }
    }
  }
}
